body{
    background-image: url(/STATIC/RECURSOS/BOSETO.png);
    background-repeat: no-repeat;
}


.logo{
    width: 50px;
    height: 50px;
    cursor:pointer;
}


.sidebar{
    position:fixed;
    top:0;
    left:-250px;
    width:250px;
    height:100%;
    background:#51523f;
    color:rgb(247, 245, 245);
    transition:.3s;
}
.sidebar ul li a {
    color: rgb(215, 207, 207);
}

.sidebar ul{ color: #cccdc3;
    list-style:none;
    padding:20px;
}

.sidebar li{color: #cccdc3;
    margin:15px 0;
    font-size:20px;
}


.sidebar.active{ color: #dcddd1;
    left:0;
}
section {
    background-color: #e3e0d3;
}
body { background-color: #51523f;}
body {
    background-image: none;
}
.section1{background-image:url(/STATIC/IMAGENES/seccion1.png);background-repeat: repeat;
min-height: 650px; 
    padding: 70px 30px;}
   
    .section1 div:first-child{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.title{ color: #dcddd1;
    font-size:40px;
}

.num{ color: #cccdc3;
    margin-left: 0px;
    font-size: -30px;
    gap: 140px;
}

    
.topbar .left{
    display:flex;
    align-items:center;
    gap:0px;
}



.logo{
    width:55px;
    cursor:pointer;
}


.title{
    font-size:32px;
    margin:0;
}

 
.topbar .right .num{
    font-size:18px;
}
section {
    margin-top: 40px;
    margin-bottom: 40px;
}
section {
    padding: 30px;
}

section {
    margin-top: 10px;
}
.SUBTIT{ color: #515240;
font-size: 17px;}
.PARRAFO1{ color: #515240;}

.contenedor1{max-width: 350px;
max-width: 1500px;
margin: 80px;
text-align: center;
}
.contenedor1 h4{font-size: 3em;margin-bottom: 20px;
    text-align: center;
}
.contenedor1 p{font-size: 1.2em; line-height: 1.5em;}

.topbar {
    position: fixed; 
    top: 0;
    width: 100%;
     display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 60px;
    padding: 0 20px;
    gap: 150px;

     
}

body {
    padding-top: 37px; 
}

.section1, #NOSOTROS, #MENU, #PEDIDOS, #TESTIMONIOS {
    display: none;
}

#INICIO {
    display: block; 
}

.topbar .title {
    font-size: 2em; 
    margin: 1px;
}